/ConsoleApplication2.vcxproj
/ConsoleApplication2.vcxproj.filters
/ConsoleApplication2.vcxproj.user
/Debug/ConsoleApplication2.log
/Debug/ConsoleApplication2.obj
/Debug/TrafficModiffier.Build.CppClean.log
/Debug/TrafficModiffier.tlog/CL.command.1.tlog
/Debug/TrafficModiffier.tlog/CL.read.1.tlog
/Debug/TrafficModiffier.tlog/CL.write.1.tlog
/Debug/TrafficModiffier.tlog/TrafficModiffier.lastbuildstate
/Debug/TrafficModiffier.tlog/link.command.1.tlog
/Debug/TrafficModiffier.tlog/link.read.1.tlog
/Debug/TrafficModiffier.tlog/link.write.1.tlog
/Debug/stdafx.obj
/Debug/vc140.idb
/Debug/vc140.pdb
/Debug/vc141.idb
/Debug/vc141.pdb
/ReadMe.txt
/Release/ConsoleApplication2.log
/Release/ConsoleApplication2.obj
/Release/TrafficModiffier.tlog/CL.command.1.tlog
/Release/TrafficModiffier.tlog/CL.read.1.tlog
/Release/TrafficModiffier.tlog/CL.write.1.tlog
/Release/TrafficModiffier.tlog/TrafficModiffier.lastbuildstate
/Release/TrafficModiffier.tlog/TrafficModiffier.write.1u.tlog
/Release/TrafficModiffier.tlog/link.command.1.tlog
/Release/TrafficModiffier.tlog/link.read.1.tlog
/Release/TrafficModiffier.tlog/link.write.1.tlog
/Release/stdafx.obj
/Release/vc141.pdb
/TrafficModiffier.aps
/TrafficModiffier.rc
/WinDivert.dll
/WinDivert.lib
/WinDivert32.sys
/windivert.h
